*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container{
    width: 400px;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

#counter{
    font-weight: bold;
}

#warning{
    color: red;
    font-weight: bold;
}